body {
    margin: 0;
    background-color: whitesmoke;
    min-width: 470px;
}

.ui.secondary.menu .item {
    margin: 0;
}

.ui.secondary.menu .item a {
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
}
.ui.items>.item>.image>img {
    border-radius: inherit;
}